body {
  background-color: #f0f4f7;
}
header {
  height: 10%;
  background-color: #0056b3;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 3em;
  color: white;
  margin: 10px;
  
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
nav a {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding:  10px 20px;
  transition: background-color 0.3s;
  border-radius: 5px;
}
nav a:hover {
  background-color: #026ee2;
}
main {
  height: auto;
  padding: 20px;
}
.section {
  height: 530px;
  padding: 10px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.section h2 {
  border-left: lightskyblue 5px solid;
  padding-left: 10px;
  font-size: 2em;
  margin-bottom: 20px;
}
.section p {
  text-indent: 2em;
  line-height: 1.6;
  font-size: 1.1em;
  color: #333;
}
footer {
  height: 60px;
  background-color: #333;
  font-size: smaller;
  text-align: center;
  padding: 10px;
  color: white;
  border-top: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
footer p {
  text-align: center;
  line-height: 40px;
  margin: 10px;
}